@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 100% 98%;
    --foreground: 213 57% 12%;
    --card: 0 0% 100%;
    --card-foreground: 213 57% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 213 57% 12%;
    --primary: 182 100% 14%;
    --primary-foreground: 0 0% 100%;
    --secondary: 34 72% 30%;
    --secondary-foreground: 0 0% 100%;
    --muted: 214 100% 94%;
    --muted-foreground: 190 7% 26%;
    --accent: 182 53% 24%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 42%;
    --destructive-foreground: 0 0% 100%;
    --border: 190 8% 75%;
    --input: 190 8% 75%;
    --ring: 182 100% 14%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
